[submodule "contrib/STAR"]
	path = contrib/STAR
	url = https://github.com/alexdobin/STAR
[submodule "contrib/gatk"]
	path = contrib/gatk
	url = https://github.com/broadinstitute/gatk.git
[submodule "contrib/picard"]
	path = contrib/picard
	url = https://github.com/broadinstitute/picard.git
[submodule "contrib/ensembl-vep"]
	path = contrib/ensembl-vep
	url = https://github.com/Ensembl/ensembl-vep.git
